
*{padding:0px;margin:0px}
img{border:none}
#content{width:960px;margin:0px auto;overflow:hidden}
.waterfall{width:992px}
.dym-dl{width:239px;height:800px;padding-right:0px;float:left;overflow:hidden;position:relative}
.dym{border:1px solid #efeff0;background:#f7f7f7;height:auto;padding:14px;margin:0px 12px 18px 0px;float: left;overflow:hidden;display:inline}
.dym img{max-width:200px;_width:200px}